$light-blue: #9ac6f6;

.span-tooltip {
    display: inline-block;
    cursor: not-allowed;
}

.sender, .recipient, .object, .letter {
    margin-bottom: 10px;
}

.recipient {
    position: relative;

    a {
        position: absolute;
        top: 12px;
        right: 12px;
    }
}

.letter {
    .note {
        .btn-copy {
            background-color: $light-blue;
            border: 0;
            border-radius: 5px;
        }
    }

    textarea {
        min-height: 550px;
    }
}
