{% set githubLink = 'https://github.com/MathiasDaverede/job-search' %}
{% set codingGameProfileLink = 'https://www.codingame.com/profile/8ee16a3f95abdb6ba27dd653534e016e4923462' %}

<a href="{{ githubLink }}" target="_blank">GitHub</a>
<a href="{{ codingGameProfileLink }}" target="_blank">CodinGame</a>
