{% set githubRepoLink = constant('App\\Constant\\UsefulLink::GITHUB_REPO') %}
{% set linkedInProfileLink = constant('App\\Constant\\UsefulLink::LINKED_IN_PROFILE') %}
{% set codingGameProfileLink = constant('App\\Constant\\UsefulLink::CODINGAME_PROFILE') %}

<a href="{{ githubRepoLink }}" target="_blank">GitHub</a>
<a href="{{ linkedInProfileLink }}" target="_blank">LinkedIn</a>
<a href="{{ codingGameProfileLink }}" target="_blank">CodinGame</a>
