<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="http://jobsearch.localhost" aria-label="Symfony" target="_blank">
            <span aria-hidden="true">
                <img src="{{ asset('icons/symfony.svg') }}" alt="Icône Symfony">
            </span>
        </a>
    </div>
</nav>
