<div class="sender form-control">
    <div class="row">
        <div class="col">
            <h2>{{ form_label(senderForm) }}</h2>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            {{ form_row(senderForm.firstName) }}
        </div>

        <div class="col">
            {{ form_row(senderForm.lastName) }}
        </div>

        <div class="col">
            {{ form_row(senderForm.phone) }}
        </div>
    </div>

    {% include 'back/cover_letter/address_form.html.twig' with {'addressForm': senderForm.address} %}
</div>
